<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
<h1>Olá {{user}}, mantenha seus dados atualizados!</h1>
<a href="{% url 'deslogar' %}">Deslogar</a>
<div class="container mt-2">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#home">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-house-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                    <path fill-rule="evenodd"
                          d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                </svg>
                Dados Pessoais</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#work">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="12" r="3"></circle>
                    <path
                            d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path>
                </svg>
                Trabalho</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#health">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
                    <path fill-rule="evenodd"
                          d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                </svg>
                Saúde</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#contact">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-telephone-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                </svg>
                Contato</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="home">
            <div class="row border g-0 rounded shadow-sm">
                <div class="col p-4">
                    <h3>Dados Pessoais</h3>
                    <form id="dadosPessoais">
                        <div class="row">
                            <div class="col">
                                <!-- Nome input -->
                                <div class="form-floating mb-3">
                                    <input type="text" id="nome" class="form-control" placeholder="Nome Completo"
                                           name="nome"
                                           required/>
                                    <label for="nome">Nome Completo</label>
                                </div>
                            </div>
                            <div class="col">
                                <!-- Email input -->
                                <div class="form-floating mb-3">
                                    <input type="email" id="email" class="form-control" placeholder="Email Pessoal"
                                           name="email"
                                           required/>
                                    <label for="email">Email Pessoal</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <!-- Cor input -->
                                <div class="form-floating mb-3">
                                    <select id="cor" class="form-select" name="cor" required>
                                        <option selected>Selecione</option>
                                        <option>Amarelo</option>
                                        <option>Branco</option>
                                        <option>Indígena</option>
                                        <option>Pardo</option>
                                        <option>Preto</option>
                                    </select>
                                    <label for="cor">Cor</label>
                                </div>
                            </div>
                            <div class="col">
                                <!-- Cpf input -->
                                <div class="form-floating mb-3">
                                    <input type="text" id="cpf" class="form-control" placeholder="Cpf" name="cpf"
                                           required/>
                                    <label for="cpf">CPF</label>
                                </div>
                            </div>
                            <div class="col">
                                <!-- Estado Civil input -->
                                <div class="form-floating mb-3">
                                    <select id="estado-civil" class="form-select" name="estado-civil" required>
                                        <option selected>Selecione</option>
                                        <option>Solteiro</option>
                                        <option>Casado</option>
                                        <option>União Estável</option>
                                        <option>Separado / Divorciado</option>
                                        <option>Viúvo</option>
                                    </select>
                                    <label for="estado-civil">Estado Civil</label>
                                </div>
                            </div>
                            <div class="col">
                                <!-- Grau escolaridade input -->
                                <div class="form-floating mb-3">
                                    <select id="grau-escolaridade" class="form-select" name="grau-escolaridade"
                                            required>
                                        <option selected>Selecione</option>
                                        <option>Ensino Médio Incompleto</option>
                                        <option>Ensino Médio Completo</option>
                                        <option>Ensino Superior Incompleto</option>
                                        <option>Ensino Médio Completo</option>
                                        <option>Pós Graduação / MBA</option>
                                        <option>Mestrado</option>
                                        <option>Doutorado</option>
                                    </select>
                                    <label for="grau-escolaridade">Grau de Escolaridade</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <!-- CEP input -->
                                <div class="form-floating input-group mb-3">
                                    <input type="text" id="cep" class="form-control" placeholder="CEP"
                                           name="cep" aria-label="CEP" aria-describedby="buscar-cep" required/>
                                    <button type="button" class="btn btn-outline-secondary" id="buscar-cep"
                                            name="buscar">
                                        Pesquisar
                                    </button>
                                    <label for="cep">Cep</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <!-- Rua input -->
                                <div class="form-floating mb-3">
                                    <input type="text" id="rua" class="form-control" placeholder="Rua"
                                           name="rua" required/>
                                    <label for="rua">Rua</label>
                                </div>
                            </div>
                            <div class="col-1">
                                <!-- Número casa input -->
                                <div class="form-floating mb-3">
                                    <input type="text" id="numero" class="form-control" placeholder="Número"
                                           name="numero" required/>
                                    <label for="numero">Número</label>
                                </div>
                            </div>
                            <div class="col">
                                <!-- Bairro input -->
                                <div class="form-floating mb-3">
                                    <input type="text" id="bairro" class="form-control" placeholder="Bairro"
                                           name="bairro" required/>
                                    <label for="bairro">Bairro</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <!-- Estado input -->
                                <div class="form-floating mb-3">
                                    <select id="estado" class="form-select" placeholder="Estado"
                                            name="estado" required>
                                        <option selected>Selecione</option>
                                        {% for uf in ufs %}
                                        <option value="{{uf.sigla}}">{{uf.nome}}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="estado">Estado</label>
                                </div>
                            </div>
                            <div class="col">
                                <!-- Cidade input -->
                                <div class="form-floating mb-3">
                                    <select id="cidade" class="form-select cidade" placeholder="Cidade"
                                            name="cidades" required>
                                        <option selected class="depois" value="">Selecione</option>
                                    </select>
                                    <label for="cidade">Cidade</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-auto">
                    <img src="images/home.jpg" class="img-thumbnail dimension">
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="health">
            <div class="row border g-0 rounded shadow-sm">
                <div class="col p-4">
                    <h3>Saúde</h3>
                    <div class="row">
                        <div class="col">
                            <!-- Alergias input -->
                            <div class="form-floating mb-3">
                                <input type="text" id="alergias" class="form-control" placeholder="Alergias"
                                       name="alergias"/>
                                <label for="alergias">Alergias</label>
                            </div>
                        </div>
                        <div class="col">
                            <!-- Tratamento de Saúde input -->
                            <div class="form-floating mb-3">
                                <input type="text" id="tratamento-saude" class="form-control"
                                       placeholder="Tratamento de Saúde" name="tratamento-saude"/>
                                <label for="tratamento-saude">Tratamento de Saúde</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <!-- Uso de medicamento contínuo input -->
                            <div class="form-floating mb-3">
                                <input type="text" id="medicamento-continuo" class="form-control"
                                       placeholder="Uso de medicamento contínuo"
                                       name="medicamento-continuo"/>
                                <label for="medicamento-continuo">Uso de medicamento contínuo</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <img src="images/home.jpg" class="img-thumbnail dimension">
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="work">
            <div class="row border g-0 rounded shadow-sm">
                <div class="col p-4">
                    <h3>Trabalho</h3>
                    <div class="row">
                        <div class="col">
                            <!-- Empresa input -->
                            <div class="form-floating mb-3">
                                <input type="text" id="empresa" class="form-control" placeholder="Empresa"
                                       name="empresa" required/>
                                <label for="empresa">Empresa</label>
                            </div>
                        </div>
                        <div class="col">
                            <!-- Email Corporativo input -->
                            <div class="form-floating mb-3">
                                <input type="email" id="email-corporativo" class="form-control"
                                       placeholder="Email Corporativo" name="email-corporativo" required/>
                                <label for="email-corporativo">Email Corporativo</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <!-- Gerente input -->
                            <div class="form-floating mb-3">
                                <input type="text" id="gerente" class="form-control" placeholder="Gerente"
                                       name="gerente" required/>
                                <label for="gerente">Gerente</label>
                            </div>
                        </div>
                        <div class="col">
                            <!-- Departamento input -->
                            <div class="form-floating mb-3">
                                <input type="text" id="departamento" class="form-control" placeholder="Departamento"
                                       name="departamento" required/>
                                <label for="departamento">Departamento</label>
                            </div>
                        </div>
                        <div class="col">
                            <!-- Cargo input -->
                            <div class="form-floating mb-3">
                                <input type="text" id="cargo" class="form-control" placeholder="Cargo" name="cargo"
                                       required/>
                                <label for="cargo">Cargo</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <img src="images/home.jpg" class="img-thumbnail dimension">
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="contact">
            <div class="row border g-0 rounded shadow-sm">
                <div class="col p-4">
                    <h3>Contato</h3>
                    <div class="row">
                        <div class="col">
                            <!-- Telefone Pessoal 1 input -->
                            <div class="form-floating mb-3">
                                <input type="text" id="telefonepessoal1" class="form-control"
                                       placeholder="Telefone Pessoal 1" name="telefonepessoal1" required/>
                                <label for="nome">Telefone Pessoal</label>
                            </div>
                        </div>
                        <div class="col">
                            <!-- Telefone Pessoal 2 input -->
                            <div class="form-floating mb-3">
                                <input type="text" id="telefonepessoal2" class="form-control"
                                       placeholder="Telefone Pessoal 2" name="telefonepessoal2"/>
                                <label for="nome">Telefone Pessoal 2</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <!-- Nome Contato 1 input -->
                            <div class="form-floating mb-3">
                                <input type="text" id="nome-emergencia1" class="form-control"
                                       placeholder="Nome Contato de Emergência"
                                       name="nome-emergencia1" required/>
                                <label for="nome-emergencia1">Nome Contato de Emergência</label>
                            </div>
                        </div>
                        <div class="col">
                            <!-- Telefone emergencial 1 input -->
                            <div class="form-floating mb-3">
                                <input type="text" id="telefone-emergencia1" class="form-control"
                                       placeholder="Telefone Contato de Emergência"
                                       name="telefone-emergencia1" required/>
                                <label for="telefone-emergencia1">Telefone Contato de Emergência</label>
                            </div>
                        </div>
                        <div class="col">
                            <!-- Grau de Parentesco 1 input -->
                            <div class="form-floating mb-3">
                                <select id="grau-parentesco1" class="form-select" name="grau-parentesco1">
                                    <option selected>Selecione:</option>
                                    <option>1º Grau</option>
                                    <option>2º Grau</option>
                                    <option>3º Grau</option>
                                    <option>Sem grau de parentesco</option>
                                </select>
                                <label for="grau-parentesco1">Grau de Parentesco</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <!-- Nome Contato 2 input -->
                            <div class="form-floating mb-3">
                                <input type="text" id="nome-emergencia2" class="form-control"
                                       placeholder="Nome Contato de Emergência"
                                       name="nome-emergencia2"/>
                                <label for="nome-emergencia2">Nome Contato de Emergência 2</label>
                            </div>
                        </div>
                        <div class="col">
                            <!-- Telefone emergencia 2 input -->
                            <div class="form-floating mb-3">
                                <input type="text" id="telefone-emergencia2" class="form-control"
                                       placeholder="Telefone Contato de Emergência"
                                       name="telefone-emergencia2"/>
                                <label for="telefone-emergencia2">Telefone Contato de Emergência 2</label>
                            </div>
                        </div>
                        <div class="col">
                            <!-- Grau de parentesco input -->
                            <div class="form-floating mb-3">
                                <select id="grau-parentesco2" class="form-select" name="grau-parentesco2">
                                    <option selected>Selecione:</option>
                                    <option>1º Grau</option>
                                    <option>2º Grau</option>
                                    <option>3º Grau</option>
                                    <option>Sem grau de parentesco</option>
                                </select>
                                <label for="grau-parentesco2">Grau de parentesco</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <img src="images/home.jpg" class="img-thumbnail dimension">
                </div>
            </div>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary mt-3">Salvar Alterações</button>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
{% load static %}
<script src="{% static 'load_city.js' %}"></script>
<script src="{% static 'load_cep.js' %}"></script>
</body>
</html>